<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  {% block title %}
  <title>All inform about</title>
  {% endblock %}

</head>
<body>
{% block header %}
{% include 'includes/sidebar.html' %}
{% endblock header %}

{% block content %}
{% block inner %}{% endblock %}
{% endblock %}

</body>
</html>
